[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
psycopg2 = "*"
python-dotenv = "*"
pydantic = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
alembic = "*"
bcrypt = "*"
pytest = "*"
httpx = "*"
typer = "*"
sqlmodel = "*"
pgvector = "*"
pyjwt = {extras = ["cryptography"], version = "*"}

[dev-packages]

[requires]
python_version = "3.13"
